importlib-metadata
pytest
Sphinx==5.3.0
sphinx-rtd-theme
sphinx-gallery==0.10.0
sphinxcontrib-bibtex
matplotlib
statsmodels
pyramid
seaborn
#sklearn
scikit-learn
statsmodels
pytest
pytest-cov
mock
#plotly