/**
	Define global variables
 */
body {


	/* Sand colors */
	--c1: #f3e7d9;
	--c2: #ecdbc5;
	--c3: #e6cfb2;
	--c4: #e0c39f;
	--c5: #dab78c;
	--c6: #dab78c;

	/*--c1: #b1f9e8;*/
	/*
	--c1: #bad8d1;
	--c2: #8ee1d3;
	--c3: #6ac9be;
	--c4: #47b0aa;
	--c5: #239895;
	--c6: #73b1a2;*/
	/*--c6: #008080;*/

	/*
	--c1: #FDEEBE;
	--c2: #FDE6B6;
	--c3: #FDDFAF;
	--c4: #FCD7A7;
	--c5: #FCCF9F;
	--c6: #FCCF9F;*/
}

/**
    Basic RTD color edits
 */
.wy-side-nav-search {
    background-color: var(--c5);
}
.wy-side-nav-search input[type=text] {
    border-color: var(--c6);
}
.wy-nav-top {
    background: var(--c1);
}
.caption-text {
    color: var(--c5);
}
.wy-alert-title {
	background: var(--c1);
	color: var(--c5);
}
.rst-content .note {
	background: var(--c1);
}
.rst-content .note .admonition-title {
	background: var(--c5);
	color: #fff;
}
a {
    color: var(--c6);
}

/**
    Other basic edits
 */
p {
	text-align: justify;
  	text-justify: inter-word;
}


/**
  Responsive video
 */
.video_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 56.25% for an aspect ratio of 16:9;
       100% for an aspect ratio of 1:1;*/
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
    Code changes
 */
/**
code.literal {
    color: #404040 !important;
    background-color: #fbfbfb !important;
}**/

/**
  Buttons
 */
.btn-github {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-github:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6
}
.btn-github:active {
	position:relative;
	/*top:1px;*/
}

.btn-heroku {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#7057C2;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-heroku:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn-heroku:active {
	position:relative;
	top:1px;
}

